    h1{
        color:rgb(4, 50, 110);
    } 

    h2{
        color:rgb(4, 50, 110);
    }

    h3{
        color: rgb(42, 58, 9);
    }

    .header{
        display:flex;
        background-color: coral;
        justify-content: space-around;
    }

    .Description{
        background-color: yellow;
    }
    
    .grid{
        display:flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
    }

    p,h2{
        text-align: center;
    }